../.gk/
../.lesshst
../.vscode/
../AppData/
../Contacts/
../Desktop/
../Documents/
../Downloads/
../Favorites/
../IntelGraphicsProfiles/
../Links/
../Music/
../NTUSER.DAT
../NTUSER.DAT{0cfec3d2-8ceb-11ef-babd-c4b62b14f09a}.TM.blf
../NTUSER.DAT{0cfec3d2-8ceb-11ef-babd-c4b62b14f09a}.TMContainer00000000000000000001.regtrans-ms
../NTUSER.DAT{0cfec3d2-8ceb-11ef-babd-c4b62b14f09a}.TMContainer00000000000000000002.regtrans-ms
../OneDrive/
../Pictures/
../Saved Games/
../Searches/
../Videos/
../ntuser.dat.LOG1
../ntuser.dat.LOG2
../ntuser.ini